html, body {
    height: 100%;
    background-color: black;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#logo {
    text-align: center;
    color: white;
}

#myCanvas {
    background-color: black;
    border: 1px solid white;
}
